
a {
    text-decoration: none;
    color: #666;
}

.header-items-container a {
    color: #666;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.header-items-container a:hover {
    color: #EAD296;
}

span {
    display: block;
    width: 33px;
    height: 4px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 3px;
    background: var(--main-color-1);
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

li {
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg,#000 -10%,#e6d29d 50%,#000 110%) 1 stretch;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
    padding: 0.7rem 0.5rem;
}

li:hover {
    color: var(--main-color-1);
}

li a {
    font-size: inherit;
}

h1 {
    cursor: pointer;
    color: #666
}

p {
    margin: 0 1em;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}

p:hover {
    color: #EAD296;
}

.border-header {
    padding-bottom: 4px;
    background: linear-gradient(90deg,#000 -10%,#e6d29d,#000 110%);
}

.header-wrapper {
    background-color: #000000;
    height: 67px;
}

.header-container {
    width: 100%;
    height: 100%;
}

.header-items-container {
    display: none;
    align-items: center;
}

.navbar-toggle-mobile {
    display: block;
    cursor: pointer;
}

.toggle-button span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, -3px);
}

.toggle-button span:nth-child(1) {
    transform-origin: 0% 0%;
}

.toggle-button span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle-button span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, 4px);
}

span:nth-child(3) {
    transform-origin: 0% 100%;
}

.navbar-collapse-mobile {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #000;
    overflow: scroll;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 71%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 1;
}

.show-content {
    display: block;
}

@media (min-width: 576px) {
    .header-items-container {
        display: flex;
    }
    .header-container {
        width: 65%;
    }
    .navbar-toggle-mobile {
        display: none;
    }
}