p {
    font-weight: bold;
}

h5 {
    display: inline;
}

img {
    text-align: center;
}

input[type=number] {
    width: 85%;
    background-color: #333;
    border: 1px solid rgba(211, 211, 211, 0.6);
    border-radius: 0.15rem;
    outline: none;
}

ul {
    max-height: 350px;
    overflow-y: scroll;
}

li {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

li:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

li:hover {
    background-color: rgb(97, 97, 97);
}

.headline-container {
    border-bottom: 1px solid lightgray;
    padding: 0.35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-selection-wrapper {
    border: 2px solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 100%;
    flex-wrap: wrap;
}

.hero-level-container-mobile {
    display: none;
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
}

.hero-level-container-mobile .level-input input {
    width: 55px;
}

.hero-selection-mobile {
    border: 1px solid rgba(211, 211, 211, 0.6);
    border-radius: 0.15rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.6rem;
}

.hero-level-container {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level-input {
    margin-left: 20px;
}

.level-input>input {
    width: 30%;
}

.hero-pic-selection {
    border-radius: 0.25em;
    position: relative;
}

.hero-image {
    width: 100%;
    cursor: pointer;
}

.hero-selection-list {
    display: none;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    transform: translate(25px, 55px);
    right: -100%;
    text-align: center;
    margin: 0 auto;
    min-width: 210px;
    background-color: var(--bg-color-2);
    z-index: 1;
}

.skills-main-container {
    width: 70%;
    padding: 0 0.5rem 0.25rem 0.5rem;
}

.stats-element {
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid lightgray;
    flex-grow: 1;
}

.stats-element:last-child {
    border: 0;
}

.skill-main-wrapper {
    justify-content: center;
    align-items: center;
}

.skill-wrapper {
    flex: 100%;
}

.skill-damage-input {
    margin: 5px 0;
}

.show-content {
    display: block;
}

.glow-transition {
    transition: box-shadow 0.2s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-4);
}

@media (max-width: 576px) {
    .hero-level-container {
        display: none;
    }
    .hero-level-container-mobile {
        display: block;
    }
    .skills-main-container {
        width: 100%;
    }
    .hero-selection-container {
        flex-wrap: wrap;
    }
    .hero-selection-list {
        right: 37%;
        top: 35%;
        width: 81%;
    }
}

@media (max-width: 1550px) {
    .hero-selection-list {
        transform: translate(70px, 55px);
    }
}
@media (max-width: 1350px) {
    .hero-selection-list {
        transform: translate(90px, 55px);
    }
}