.footer-container {
    background-color: black;
    border-top: 2px solid;
    border-image: linear-gradient(90deg,#000 -10%,#e6d29d 50%,#000 110%) 1 stretch;
    text-align: center;
    padding: 0.5rem;
}