
h6 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1rem;
}

span {
    font-size: 1.1em;
}

.images-container {
    width: 100%;
    text-align: center;
}

.hero-recommendation-img {
    width: 130px;
}

.heroes-recommendation-container {
    padding: 2rem 0.25rem;
}

.recommendation-card {
    border: 1px solid var(--main-color-1);
    background-color: #333;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.recommendation-info {
    padding: 0.5rem;
    border-top: 1px solid gray;
}

.button-wrapper {
    margin-top: 0.5rem;
}

@media (min-width: 576px) {
    .heroes-recommendation-container {
        padding: 1rem 2.5rem;
    }
    .hero-recommendation-img {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .heroes-recommendation-container {
        padding: 1rem 4rem;
    }
    .hero-recommendation-img {
        width: 220px;
    }
}

@media (min-width: 1200px) {
    .heroes-recommendation-container {
        padding: 1rem 6.5rem;
    }
    .hero-recommendation-img {
        width: 200px;
    }
}

@media (min-width: 1308px) {
    .hero-recommendation-img {
        width: 230px;
    }
}

@media (min-width: 1500px) {
    .heroes-recommendation-container {
        padding: 2rem 8rem;
    }
    .hero-recommendation-img {
        width: 200px;
    }
}