h5 {
    display: inline;
}

ul {
    border: 1px solid var(--main-color-1);
    border-radius: 0.25rem;
}

li {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 25%;
    border-right: 1px solid var(--main-color-1);
    font-weight: bold;
    padding: 0.2rem;
}

li:hover {
    color: var(--main-color-1);
}

li:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

li:last-child {
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.hero-selection-navbar {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.selected-number {
    background-color: #555;
}