<div class="guides-overview-container">
    <h1>Welcome to the guides section of Defina Hub!</h1>

    <div class="guides-overview-content">
        <div class="guides-explanation mb-3">
            <p class="mb-3">Here I will continuously add new guides and tips as Defina progresses.</p>
            <p>
                Thanks to Kermit who tested and created the element tier list and also helped with team recommendations! If you have any questions about the tier list or team recommendations just ask him.
                (Ask for the frog in discord if you want to find him)<br>
                Thanks to LePoisonMan for collecting the data for the exp table!
            </p>
        </div>

        <div class="navbar-explanation">
            <p><span>Element Tier List</span> - Shows you a ranking of all skill elements. Note that the tier list is just a general evaluation, non-S tier elements still can be S tier if played in the right comp.</p>
        
            <p><span>Teams</span> - Some team recommendations.</p>

            <p><span>Exp Table</span> - Exp needed for your heroes for each level.</p>

            <p><span>NFT Ticker</span> - Shows how many NFTs of each Hero are still left in the pool that can be minted. (Only showing SSS and SS heroes)</p>
        </div>
    </div>
</div>
