span {
    position: absolute;
}

ul {
    max-height: 350px;
}

li {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

li:not(:last-child) {
    border-bottom: 1px solid grey;
}

li:hover {
    background-color: var(--bg-color-3);
}

.skill-dropdown-container {
    position: relative;
}

.skill-select-btn {
    background-color: #333;
    border: 1px solid rgba(211, 211, 211, 0.6);
    border-radius: 0.15em;
    margin: 0 auto;
    height: 30px;
    width: 85%;
    cursor: pointer;
    position: relative; /* brauche ich später für den dropdown arrow icon. falls überhaupt einer kommt lol */
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.skill-dropdown-list {
    border: 1px solid grey;
    border-radius: 0.25rem;
    display: none;
    position: absolute;
    min-width: 120px;
    transform: translate(0px, 1px);
    left: -22%;
    background-color: var(--bg-color-2);
    z-index: 1;
}

.skill-tooltip {
    background-color: var(--bg-color-1);
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 10px;
    z-index: 1;
    position: absolute;
    text-align: center;
    min-width: 210px;
}

li .skill-tooltip {
    visibility: hidden;
}

li:hover .skill-tooltip {
    visibility: visible;
}

.tooltip-mobile {
    right: 85px;
}

.show-content {
    display: block;
}

@media (min-width: 992px) {
    .tooltip-mobile {
        right: inherit;
    }
}