:root {
    --font-color-main: rgb(211, 211, 211);
    --main-color-1: #e6d29d;
    --bg-color-1: rgb(63, 63, 63);
    --bg-color-2: rgb(87, 87, 87);
    --bg-color-3: rgb(97, 97, 97);
    --bg-color-4: rgb(112, 112, 112);
}

* {
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    /* without overflow-x: hidden and position: relative the screen width on mobile would be wider than the html body
    when collapsing the header. */
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, span, button, ul, a, table, input, label {
    color: var(--font-color-main);
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.border-b {
    border-bottom: 1px solid lightgray;
}

.border-b-2 {
    border-bottom: 1px solid gray;
}

.aegis-border {
    box-shadow: 0 0 13px 2px #82d85196!important;
}

.ouroboros-border {
    box-shadow: 0 0 13px 2px #b750539d!important;
}

.thots-border {
    box-shadow: 0 0 13px 2px #a971c8a4!important;
}

.prometheus-border {
    box-shadow: 0 0 13px 2px #ffd77b7a!important;
}