h5 {
    display: inline;
}

h6 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

span {
    color: #ec0d0d;
}

.cut-overflow {
    overflow: hidden;
}

.description {
    margin-top: 0.25em;
    white-space: pre-line;
    /* ... after 13 lines */
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
}