h1 {
    text-align: center;
    margin-bottom: 1rem;
}

span {
    font-size: 1.4rem;
}

p {
    padding: 0;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

h1 + p {
    margin-bottom: 1rem!important;
}

a:hover {
    color: var(--main-color-1);
}

ul {
    margin-left: 0.5rem;
}

li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    width: 33%;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0.25rem;
}

li:hover {
    color: var(--main-color-1);
}

.team-recommendation-container {
    height: 100%;
    overflow-y: auto;
}

.team-recommendation-content {
    padding-top: 1rem;
}

.tooltip-text {
    max-width: 210px;
    background-color: var(--bg-color-1);
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 10px;
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.tooltip-wrapper .tooltip-text {
    visibility: hidden;
    right: 26%;
    font-size: 1rem;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
}

.mobile-hidden {
    display: none;
}

.selected  {
    color: var(--main-color-1);
    box-shadow: 0 0 13px 2px #7a7a7a96;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-color-3);
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-4);
}

@media (min-width: 576px) {
    .tooltip-wrapper .tooltip-text {
        right: auto;
    }
}

@media (min-width: 768px) {
    .mobile-hidden {
        display: block;
    }
    p {
        padding-left: 2rem;
        text-align: left;
    }
}