li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    width: 33%;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0.25rem;
}

li:hover {
    color: var(--main-color-1);
}

.elements-tierlist-navbar {
    width: 100%;
    border-bottom: 1px solid grey;
}

.selected  {
    color: var(--main-color-1);
    box-shadow: 0 0 13px 2px #7a7a7a96;
}

@media (min-width: 576px) {
    li {
        padding: 0.5rem 1rem;
    }
}